[2015-08-03 08:40] joschi opened #1 "Plugin should consume/evaluate "responseElements" object"
The plugin currently doesn't evaluate all of the CloudTrail message's fields which makes some use cases hard or impossible to implement.

For examples, see this mailing list thread: https://groups.google.com/d/msg/graylog2/_2QfrMiOiXs/N-GCwi5xA6cJ

[2015-08-07 13:20] bernd opened #2 "CLoudtrail plugin - unable to configure http proxy"
Source: https://github.com/Graylog2/graylog2-server/issues/996

[2015-08-17 08:08] jhaar opened #3 "plugins doesn't work for all regions?"
Hi there

I've got this plugin up and running in US-WEST-2, and then configured all other regions identically.

However, now I get this error in /var/log/graylog-server/server.log

The bucket you are attempting to access must be addressed using the specified endpoint
(Service: Amazon S3; Status Code: 301; Error Code: PermanentRedirect; Request ID: 23esadd323s), S3 Extended Request ID:.....

Googli

[2015-08-24 16:06] Noah-Hughes commented on #2
It does not appear that the pluin uses the proxy variable that is set in the graylog config.

[2015-09-09 16:00] tjdecke commented on #2
This would be really useful, currently facing the same issue. I'd probably want to set the proxy separately from the graylog config.

[2015-09-09 23:13] citosid opened #4 "Using it with AssumeRoles"
I have an account where I don't have any user, but only IAM roles for each EC2 instance. How can I use this plugin in that environment?

[2015-10-09 19:12] KirstensAmazing opened #5 "Error with Endpoint Grabbing"
I believe now S3 requires you to input endpoint in the S3 configs

com.amazonaws.services.s3.model.AmazonS3Exception: The bucket you are attempting to access must be addressed using the specified endpoint. Please send all future requests to this endpoint. (Service: Amazon S3; Status Code: 301; Error Code: PermanentRedirect; Request ID: 12345, S3 Extended Request ID: 12345

[2015-10-12 01:48] #5 closed

[2015-12-09 13:51] baldzern4 commented on #1
Hi joschi,

I have created a fix and pull request for this.

[2016-01-05 15:43] 123dev opened #7 "Plugin no longer working"
Hi,
Thanks for the plugin.
Not sure exactly when it stopped working, the only changes to the environments were Graylog updates as the AWS side nothing changed.

These are the errors I get in the logs
[code]

Thanks

[2016-02-02 15:41] jamescarr commented on #4
It doesn't work since the AWS key fields are required. I'll issue a PR this week to add it.

[2016-02-02 15:54] 123dev commented on #7
Any suggestions on how to zero-in on this? or is it a known issue?

Thanks

[2016-04-27 19:24] addisflava opened #8 "Using the plug in without AWS SQS service"
Is there a way to use cloud trail without AWS SQS service , like by downloading the logs from s3 periodical and inject it into greylog

[2016-05-06 14:32] prestonr83 commented on #1
How can I implement this fix?

[2016-05-09 08:03] baldzern4 commented on #1
@prestonr83 just include the fix from the (still open) pull request #6.

[2016-06-14 21:26] evanccnyc opened #9 "Doesn't appear to be working on 2.0"
I added the plugin to our new graylog 2.0 server but it never receives messages. The amazon side is exactly the same as before and the configuration was copied from the old 1.2 server.

Nothing in the log files, it just never receives any messages. Let me know what I can do to help track this down.

[2016-06-16 21:06] STRML commented on #9
Works fine here once I merged #6 and the latest from master , but it did take a little time for it to start receiving messages.

I've released this and my changes in #10 [here](https://github.com/BitMEX/graylog-plugin-aws/releases/tag/0.5.1).

[2016-06-30 23:57] jskirst commented on #9
hey @STRML we're having this same issue, but using your plugin version. We're not seeing any errors or feedback that say that there's no messages coming. Any advice?

We're running
graylog AMI: ami-1b2aea76
graylog-plugin-aws: 0.5.1

[2016-06-30 23:59] STRML commented on #9
Hmm. Have you checked all the logfiles on disk? I saw a few errors on my setup when IAM roles weren't set up right.

[2016-07-01 00:00] jskirst commented on #9
Where are these logs stored? We've looked through every log directory we can and can't find anywhere posting those logs. All we can find are the nginx logs.

[2016-07-01 00:06] STRML commented on #9
It shows up in the graylog logfile.

[2016-07-01 00:08] STRML commented on #9
`/var/log/graylog-server/server.log`. If you don't have it, check your `/etc/graylog/server/log4j2.xml`.

[2016-07-01 00:17] jskirst commented on #9
Thanks for your help @STRML! Really appreciate it. Unfortunately we don't seem to have either file. We used the AMI listed in https://github.com/Graylog2/graylog2-images/tree/2.0/aws, so not sure what we might have done wrong here.

[2016-07-05 10:35] joschi commented on #1
Closed by merging #6.

[2016-07-05 10:35] #1 closed

[2016-07-05 10:50] joschi commented on #3
Fixed by closing #6.

[2016-07-05 10:50] #3 closed

[2016-07-05 10:51] joschi commented on #9
@jskirst You can find the log files in the virtual machine images under `/var/log/graylog/server/*`.

We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [public mailing list](https://groups.google.com/forum/#!forum/graylog2) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

[2016-07-06 17:56] stepkirk commented on #9
I run Graylog under VMware using the supplied OVA.  After performing the Graylog 1.3.4 -> Graylog 2.0.2 upgrade, I still continued to receive CloudTrail logs from AWS using the official 0.5.0 plugin.  I upgraded to Graylog 2.0.3 on 6/20 and have not been able to receive CloudTrail logs since then.

This is what I see in /var/log/graylog/server/current when I try to (re)start the AWS CloudTrail inp

[2016-07-07 12:17] #2 closed

[2016-07-07 12:47] joschi commented on #9
Please check if the latest release of this plugin fixes your issues: https://github.com/Graylog2/graylog-plugin-aws/releases/tag/0.6.0

It's working for me on Graylog 2.0.0 and higher.

[2016-07-07 12:47] joschi commented on #7
@123dev Please check if the latest release of this plugin fixes your issues: https://github.com/Graylog2/graylog-plugin-aws/releases/tag/0.6.0

[2016-07-07 21:53] stepkirk commented on #9
Thanks @joschi. The 0.6.0 version of the plugin is working for me.  Just took a bit to drain the backlog of messages. ;-)

[2016-07-08 07:22] joschi commented on #9
@stepkirk Thanks for your feedback!

I'm closing this issue now. Feel free to leave a comment or open a new issue if the latest version of the plugin doesn't work for you.

[2016-07-08 07:22] #9 closed

[2016-07-08 15:39] 123dev commented on #9
I switched to 0.6.0 and am getting this error
[code]

Before that n 0.5.1 Snapshot it was working fine.
By the way at first when I first switched to 0.6.0 the plugin wouldn't start
I got this error
[code]
Then I edited the input set the region and saved
That got the plugin starting again, but with the exception above, I haven't seen any aws logs.

Thanks

[2016-07-14 17:36] stepkirk opened #12 "graylog-plugin-aws 0.6.0 not working on new instance of Graylog 2.0.3"
This is strange since the plugin IS working on another instance of Graylog 2.0.3 that I upgraded from a Graylog 1.3.4 instance.

BTW, this is the same error that @123dev reported in issue #9 after it was closed.  Didn't see a response over there so opened this new issue.

This is the error:

[code]

What am I missing in this new instance?  What else can I try to troubleshoot?

FWIW, I tried deleti

[2016-07-15 19:03] lennartkoopmann commented on #8
No, currently you can only do it directly via S3 and there are no plans to change that.

[2016-07-15 19:03] #8 closed

[2016-07-15 19:04] #7 closed

[2016-07-15 19:31] 123dev commented on #7
Sorry Jochen, I missed you note and just got pinged when this ticket was closed.

I have already tested 0.6.0 and reported the issue [here](https://github.com/Graylog2/graylog-plugin-aws/issues/9#issuecomment-231393567).
Unfortunately that is a closed [ticket](https://github.com/Graylog2/graylog-plugin-aws/issues/9)
Thankfully stepkirk has logged another ticket [here](https://github.com/Graylog2/g

[2016-07-16 03:19] ducksauz commented on #4
+1 for this, I want to run my GrayLog environment in EC2 and need this plugin to pull its creds from the metadata service

[2016-07-16 03:43] ducksauz commented on #4
For pulling creds from the metadata service on EC2, you can shortcut the hierarchy of credential sources and skip right to the InstanceRole

e.g:

`AmazonS3 s3Client = new AmazonS3Client(new InstanceProfileCredentialsProvider());
`

see https://docs.aws.amazon.com/java-sdk/latest/developer-guide/java-dg-roles.html for more info

[2016-07-16 12:28] joschi commented on #12
@stepkirk How did you download and install the plugin?

Because the class in question (`com.amazonaws.http.conn.ssl.SdkTLSSocketFactory`) is definitely part of the plugin JAR file:
[code]

[2016-07-18 14:16] 123dev commented on #12
In Our case,
[code]

So it's not about bad download, at least I don't think so.
Thanks

[2016-07-18 15:00] stepkirk commented on #12
FWIW, my output matches yours @joschi and @123dev.

Anything else I can check?

Thanks,
Steve.

[2016-07-19 18:30] stepkirk commented on #12
I seem to be having the same experience @123dev was having over in issue #9 .
I tried to re-download the 0.6.0 version of the plugin but (as expected) it made no difference.
I then pulled the 0.5.1 version linked to in issue #10 and that version is working, just as @123dev had discovered.

So, on one Graylog 2.0.3 instance I am able to get the AWS Cloudtrail logs using version 0.6.0 of the plugin.

[2016-08-02 10:14] joschi opened #13 "Unable to run plugin for multiple AWS accounts"
Due to the changes in c85cbbe079eef1075e088a20b95efa9046140393 it is now impossible to run this plugin multiple times for different AWS accounts on the same Graylog cluster.

[2016-08-10 08:47] avdhoot commented on #4
@lennartkoopmann @joschi any update on this please?

[2016-08-19 05:16] jhaar commented on #13
Indeed. We have a "prod" AWS account and a "dev". Complete separate AWS accounts.

I'd love to be able to use one AWS username over many AWS accounts - but I don't think that's supported? So we have to have separate usernames (and therefore tokens) for each monitored AWS account

(I hope I've got my terminology correct - I'm the security guy - not the AWS guy! ;-)

[2016-09-07 07:39] pmsumner opened #14 "Hitting API request limits"
I've set up reading flowlogs into Graylog for our dev VPC to test out and see what information we can get from them.

I've almost immediately hit a problem where a number of requests get 400 responses from AWS:

[code]

Originally I was seeing many of these a second, but then I disabled the IP->name lookups and the volume has dropped to several a minute.

I asked AWS support if they'd increase the

[2016-09-07 07:41] pmsumner commented on #14
Input setup:
`
aws_region: eu-west-1
log_group_name: flowLogs
max_backtrack: 12
read_delay_minutes: 15
throttling_allowed: false
`

`Instance detail lookups: Disabled
Lookup regions: eu-west-1,eu-central-1
Access Key: ***********
Secret Key: ***********
`

[2016-09-07 11:45] limbo127 opened #15 "Add Aws S3 Logs"
Hello,
is it possible to add S3 logs to your plugins
Regards,
Nicolas Prochazka

[2016-09-08 15:40] 123dev opened #16 "Configuration issue"
How does one configure the latest version of this plugin?
The documentation states the following.

Yet navigating to the System -> Configurations show no options for this plugin (see attached image)
![2016-09-08 11_33_44-graylog web interface](https://cloud.githubusercontent.com/assets/13109154/18355856/822fbb2c-75b8-11e6-8db0-1a8f0dca5a1c.png)

The plugin is properly installed, the logs show

`20

[2016-09-08 16:04] 123dev commented on #16
Just to add, I'm on the latest version of Graylog
2.1.0 as of this writing.

[2016-09-15 00:26] skny5 commented on #15
+1

[2016-09-15 00:28] skny5 commented on #14
Facing the same issue, any recommendation?

[2016-09-20 12:59] Arsimael opened #17 "AWS Plugin looses connection when using proxy"
Hi,

We try to read our data from AWS via proxy, it works fine first, but then we recieve loads of errors and AWS looses connection:

The proxy is configured propperly:

Any Ideas?

[2016-09-29 14:27] brucegivens commented on #16
Having the same issue here, Graylog 2.1.1 and AWS Plugin 1.0.0.

[2016-09-29 15:20] brucegivens commented on #13
We also use multiple AWS accounts, 3 at the moment - would be great to get a fix for this!

[2016-09-29 15:49] 123dev commented on #16
Bruce,
A fundamental issue such as this, has fallen on deaf ears.
This being free and open source, we can't be demanding, hence we've given up hope getting the author's attention.

Would appreciate if you post here a follow up, if you ever figure out a solution.
It's a pity, because it was great plugin when it used to work.

[2016-09-29 19:38] ericy-jana opened #18 "sns events to graylog"
I would like to send SNS events to Graylog.  This is a feature that is available in competitive products (e.g. https://www.loggly.com/docs/amazon-sns/).

It seems like this Plugin already has all of the pieces to make this happen, but it is geared toward different use-cases.  Is there a way to make this work with graylog-plugin-aws as-is?  If not, would it make sense to support the SNS->Graylog us

[2016-10-14 21:18] 123dev commented on #16
Update:
I just upgraded to Graylog 2.1.1 and the now I can see the configuration options.
Although this is solved for us, @brucegivens has reported that he has a problem with Graylog 2.1.1
and considering that we also had a problem with Graylog 2.1.0, I'll say there's definitely a problem that warrants this ticket to be kept open.

![graylog_2_1_1](https://cloud.githubusercontent.com/assets/131091

[2016-10-17 10:26] brucegivens commented on #16
I've downloaded the plugin again and restarted graylog and am now also seeing the plugin configuration section. To the best of my knowledge, no changes have been made to server.conf in the meantime - I simply tried again and it worked this time.
@123dev: did you restart graylog multiple times after the plugin was installed or was the move to 2.1.1 the first time since installing the plugin? In oth

[2016-10-17 15:14] 123dev commented on #16
@brucegivens
I don't think it has to do with the restart count, the version 2.1 of Graylog, we had restarted so many times and never saw the settings, version 2.1.1 we saw it on first start.
One thing I noticed that could be related, though I'm not certain is that , we typically load Graylog in a browser that is already at a specific page (example, search page, or a stream or overview ...)
Graylog

[2016-10-25 08:52] dannyz29 commented on #15
+ 1, would save the workaround of pulling it from S3 with some script and pushing it into Graylog

[2016-10-30 00:05] lennartkoopmann commented on #16
A new release that is compatible with Graylog v2.1.1 will be released soon.

[2016-10-30 01:46] lennartkoopmann commented on #16
This has been fixed in v1.1.0: https://github.com/Graylog2/graylog-plugin-aws/releases/tag/1.1.0

Please re-open this issue if there are still any problems.

[2016-10-30 01:46] #16 closed

[2016-10-30 03:31] lennartkoopmann commented on #14
I'm working on a new implementation that uses Kinesis Streams instead of polling the APIs.

[2016-10-30 04:37] lennartkoopmann commented on #14
Implemented in f0f057c08f0ffc310d3dfa67970ff6b9472efb0c.

Now working on documentation and will issue a new release soon.

[2016-10-30 05:07] lennartkoopmann commented on #14
Released in v1.2.0: https://github.com/Graylog2/graylog-plugin-aws/releases/tag/1.2.0

Please upgrade and re-open this issue if there are any problems. Also please let me know if there are any problems with the documentation.

Thanks! :)

[2016-10-30 05:07] #14 closed

[2016-10-30 19:48] lennartkoopmann commented on #17
Connection timeouts look like a proxy or AWS issue. Please re-open this issue if the problem still exists and ist reproducible. Thanks!

[2016-10-30 19:48] #17 closed

[2016-10-30 19:48] lennartkoopmann commented on #12
Please run the latest plugin version with the latest Graylog version.

[2016-10-30 19:48] #12 closed

[2016-10-31 08:38] pmsumner opened #19 "AWS plugin v 1.2.0 needs dynamo DB access - not mentioned in documentation"
[code]

After adding policy allowing dyanmodb.* on arn:* (which I really need to narrow down) to the user, the error messages stopped.

[2016-11-04 05:34] wrsuarez commented on #13
+1 for needing multiple account inputs. We have over 20 AWS accounts for various purposes and my only recourse now is to set up Graylog forwarders on each account to access the local data using IAM users specific to that account and forward them to GELF inputs on our main production Graylog server. I've set this up with a CloudFormation script that builds it all out and provisions the instance up

[2016-11-04 05:38] wrsuarez opened #20 "Please add AWS Config Logs to this plugin"
This is one of the key gaps between this and Splunk AWS app at the moment. Config log data follows the exact process as CloudTrail and I've gotten as far as launching a new input in Graylog that is correctly receiving notifications when new Config items arrive but obviously the data structure and elements are different between CloudTrail and Config so the plug in exceptions out when it sees fields

[2016-11-04 05:40] wrsuarez commented on #18
You could use a Lambda event to send the SNS payload to Graylog using the pygelf library. If all you want is the SNS message and don't need to use the payload to follow down a trail to another data element a Lambda event would do it. Even a simply Python script could read and parse the SNS message (as the JSON structure is fairly fixed) and send it as a GELF entry to Graylog.

[2016-11-04 10:47] ericy-jana commented on #18
Thanks @wrsuarez!  I will have a look at that option.

But whether through graylog-plugin-aws or some other means (e.g. Lambda/pygelf), SNS to Graylog still seems like a use-case that should be well supported/documented as it is for Loggly (https://www.loggly.com/docs/amazon-sns/).

[2016-11-06 20:05] lennartkoopmann commented on #19
This is weird. Thanks for the report! I'm looking into it.

[2016-11-06 21:44] lennartkoopmann opened #21 "Speed up reading of CloudTrail logs from SQS"
Reading thousands of CloudTrail logs can be very slow. There must be a better way to read everything in batches, using their cursor functionality.

[2016-11-06 23:45] lennartkoopmann commented on #19
Thanks for spotting this. I added a note to the README in 3e406579c6d8774703fecc8c6e668ec0af44126d.

[2016-11-06 23:45] #19 closed

[2016-11-06 23:48] lennartkoopmann commented on #21
I'll also try to read from S3 in batches or multithreaded. This is where the bottleneck is now.

[2016-11-07 17:26] romanr opened #22 "Instructions to create IAM CWLtoKinesisRole role fail"
Possible that AWS instructions are outdated?

[code]
output:

[2016-11-07 17:36] #22 closed

[2016-11-07 19:00] romanr opened #23 "Flowlogs: Only messages with exactly 15 fields supported?"
I have set up "Detailed monitoring" in AWS RDS instance. It is logging to Cloudwatch logs.
After setting up Kinesis filter stream, this is what I see in Graylog:

`
2016-11-07 18:54:06,894 WARN : org.graylog.aws.inputs.flowlogs.FlowLogCodec - Received FlowLog message with not exactly 15 fields. Skipping. Message was: [14785344844000 {"engine":"Postgres","instanceID":null,"instanceResourceID":"db-.

[2016-11-07 19:41] lennartkoopmann commented on #23
This is not a FlowLog message. FlowLogs are the AWS network connection logs.

I'm creating an issue to support RDS Cloudwatch logs! Would you be willing to test that integration?

[2016-11-07 19:41] #23 closed

[2016-11-07 19:41] lennartkoopmann opened #24 "Support RDS logs through Cloudwatch - Kinesis"
As described in #23

[2016-11-07 19:44] romanr commented on #23
Yes I am ready to test

[2016-11-07 22:11] lennartkoopmann commented on #24
@romanr From what I can see, these logs are only including metrics. If that is the case, we are probably not going to implement it. I'd accept a PR though.

[2016-11-07 22:11] #24 closed

[2016-11-07 22:13] romanr commented on #24
What is the problem, what is the difference between these and other types of logs? Can the plugin simply pass the logs further so we can parse them with regex? just accept entire message payload as message? Without checking for 15 fields.

[2016-11-08 04:42] lennartkoopmann commented on #24
Flowlog messages have a completely different structure and apply special parsing and transformations.

Passing it on as the raw JSON and then parsing that JSON with a pipeline function would work but you'd have to build this yourself. Parsing metrics simply does not fit onto our roadmap.

[2016-11-08 11:14] romanr opened #25 "Cloudwatch Logs Input"
Feature request for CloudWatch Logs input to allow collecting CloudWatch logs into Graylog.

[2016-11-22 19:01] sherzberg opened #26 "Error: no readable build.config.js"
I just pulled down latest master (I have never built this before) and ran into this on a `mvn package`.
Any thoughts on how to fix this?

[code]

[2016-11-22 19:15] lennartkoopmann commented on #26
Are you trying to build the plugin yourself to make changes to it? Downloading the `.jar` is enough to use it.

[2016-11-22 19:23] sherzberg commented on #26
Yes. I am working on making some changes for an S3 input.

[2016-11-23 09:44] edmundoa commented on #26
Hi @sherzberg,

Building Graylog web plugins requires a local checkout of the [`graylog2-server`](https://github.com/Graylog2/graylog2-server) project. Please clone that repository in your machine and adjust the path in `build.config.js` to point to the place where your local clone is.

Please also check [the documentation](http://docs.graylog.org/en/2.1/pages/plugins.html#) before start developin

[2016-11-23 09:44] #26 closed

[2016-11-23 18:11] sherzberg commented on #26
Thank you! I had to add a `build.config.js` file to this repos checked out folder that I copied from a plugin I created from the bootstrap-plugins script.

[2016-11-27 01:08] lennartkoopmann opened #29 "Check if the local lookup table is instantiated too often"
[code]

Running with 4 `ProcessBufferProcessor`.

[2016-11-27 01:10] kroepke commented on #29
All of these things are done once per processor (same thing happens with the geo lookup widget opening the maxmind db n times).
This is "correct" because it is not know beforehand whether any processor is inherently thread safe.
If you know it is, the cache should be static.

[2016-11-30 17:13] sherzberg commented on #15
I have started this PR: https://github.com/Graylog2/graylog-plugin-aws/pull/30

[2016-12-07 07:01] jim3ma opened #31 "Question: How to show field requestParameters and responseElements?"
I'm newbie to graylog.

I use graylog 2.1.2 and graylog-plugin-aws 1.2, while I can not find field requestParameters and responseElements.

I found these field have been parsed in code.

I do not know how to configure my graylog.

[2016-12-07 08:15] joschi commented on #31
We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [public mailing list](https://groups.google.com/forum/#!forum/graylog2) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

Thank you!

[2016-12-07 08:15] #31 closed

[2016-12-20 15:03] flyinbutrs commented on #25
I second this. It seems based on the current state that you could use the flow logs input as a generic log group importer via kinesis.  I've done this for other log analysis platforms, so I suspect this could be done relatively easily by changing the parameters.

[2016-12-22 10:37] Ashex commented on #13
I'm surprised this has been an issue for so long as a multi-account setup is rather normal these days. I'm evaluating Graylog for consuming CloudTrail and this is a major blocker.

[2016-12-29 10:07] hezor commented on #13
Anything new with this issue?

[2017-01-02 10:46] Ashex commented on #13
I came up with a workaround of having multiple SQS queues in one account that are subscribed to the Cloudtrail SNS topic in each account.

[2017-01-02 14:42] wrsuarez commented on #13
That works for Cloud trail but not VPC Flowlogs

On Mon, Jan 2, 2017 at 2:46 AM -0800, "Ahmed" <notifications@github.com<mailto:notifications@github.com>> wrote:

I came up with a workaround of having multiple SQS queues in one account that are subscribed to the Cloudtrail SNS topic in each account.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<ht

[2017-01-02 15:54] Ashex commented on #13
You can do the same with kinesis streams.

http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CrossAccountSubscriptions.html

The best way to implement this would be to have a dedicated aws account where the queues and streams live which graylog consumes from.

[2017-01-02 16:09] wrsuarez commented on #13
Sure if I set up cross account access on every account. But we have over 40 we manage. I'd prefer to run a cloud formation script on each account that turns on all the logging I want then makes an API call to our main Graylog server to add each accounts access keys.

On Mon, Jan 2, 2017 at 7:54 AM -0800, "Ahmed" <notifications@github.com<mailto:notifications@github.com>> wrote:

You can do the sam

[2017-01-02 16:22] Ashex commented on #13
It's a really crappy workaround for Flow Logs as VPCs can be thrown away very easily (requiring a lot of maintenance to add/remove), I can live with it for CloudTrail since it's a one time setup.

That said, #28 has the right approach in moving away from Credentials when graylog is running AWS. Ideally this would be reimplemented with the ability to assume a role or use provided keys.

[2017-01-23 02:37] ducksauz commented on #25
I would also like to see this. This probably needs its own Graylog input plugin rather than being an add on to the cloudtrail plugin, as you can push anything into cloudwatch logs (e.g. nginx, tomcat, mongo, j. random service logs, etc).

[2017-02-03 13:32] baldzern4 commented on #20
Hi,
👍  for this. We see a lot of exceptions in our graylog. Also the cloudtrail SQS queue is filling up with AWS config messages which can not be fetched by the plugin.
Any ideas when this is being included?

[2017-02-13 15:24] kitsushadow opened #32 "AWS cloud-trails and cloud-watch don't work behind proxy"
We are hosting our graylog server behind a proxy and we believe that it is interfering with the plugins ability to reach out to AWS Services.

@lennartkoopmann This is the Blackstone team

[2017-03-03 00:57] jhaar opened #33 "Cannot translate [us-east-2] into AWS region"
Hi there

I've got the current plugin running, and in the Configuration area I entered a full list of AWS regions (just so I didn't need to remember to edit it later)
[code]
Well the graylog-server.log file is full of the following
[code]

Any ideas what's behind that? Maybe the account I'm using doesn't have access to those regions, but as I only have one "Input" AWS channel and that's "aws_sqs_r

[2017-03-03 12:09] joschi commented on #33
@jhaar The simple answer is, that these regions (ca-central-1, eu-west-2, and us-east-2) are too new and are not supported by the version of the AWS Java SDK used in this plugin.

[2017-03-03 12:45] #33 closed

[2017-03-03 12:55] joschi commented on #33
@jhaar Checkout [version 1.2.1](https://github.com/Graylog2/graylog-plugin-aws/releases/tag/1.2.1) for an updated AWS Java SDK supporting new regions.

[2017-03-09 23:48] lennartkoopmann commented on #32
dc5ccedb079272b23560a5be707fdb5f90f8da5b

[2017-03-09 23:50] kitsushadow commented on #32
Awesome, i'll close and we'll give a go tomorrow. If we have questions we can give you guys a call.

[2017-03-09 23:50] #32 closed

[2017-04-13 16:41] leomazzo opened #34 "Cloudtrail plugin is not working"
Hi,

I have done the configuration of section "CloudTrail setup and configuration". I have created the policies, the configuration of plugin, etc... but i can see messages of cloudtrail on search menu at Graylog2 Web Interface

I can't see any messages at Graylog2 server.log ...... i have not errors.

<img width="756" alt="captura de tela 2017-04-13 as 13 38 19" src="https://cloud.githubuserconten

[2017-05-08 01:05] nfdevelopers opened #35 "Need Security Token support for AWS account access"
There is no way to pass the security-token by the AWS credential class as it uses "BasicAWSCredentials" class which has no such provision.
Need to implement "**DefaultAWSCredentialsProviderChain**" or a provision to use "InstanceProfileCredentialsProvider" as I am deploying the graylog server in ec2 clusters.

Faulty code snippets:
**_...
public AWSCredentials getCredentials() {

[2017-05-09 18:46] radykal-com commented on #4
Hello,

I need to use the AssumeRole also. Any update on this?
Looking #27 seems @Impressionist replaced access key auth with the other one.

Maybe to best fit all options would be nice to have a way to choose one way or the other. I'm not a Java developer but I could help with it if needed.

The way it could work is for example, is adding a new checkbox to use AssumeRole auth, if checked, the acc

[2017-05-10 06:29] radykal-com commented on #13
Maybe the best way to allow multiple credentials and also use the authentication chain to use the assume role (in ec2 instances) would be some kind of auth hierarchy.
Like, having cluster wide authentication (set through the default aws sdk chain like env vars, file system credentials file, assume role, etc...) and then a per input credentials override like it was before.
This way, if you don't sp

[2017-05-11 18:54] radykal-com commented on #13
Im about to develop the feature as described in my previous post. Want to make a PR back when done? This will allow authenticate each input in this order:
1º Input specific credentials (aws, key and secret), like it was before the breaking commit commented by @joschi
2º Global Plugin config credentials (the one working in current builds)
3º Default client auth chain that will allow to use the envi

[2017-05-12 10:42] radykal-com commented on #13
Got a PR to review #36

[2017-05-15 13:24] andydude commented on #25
I would also like to see this.

[2017-05-15 19:43] radykal-com commented on #35
Check if #36 is what you are looking for.

[2017-05-18 20:22] surajit1188 opened #37 "Not supporting in Graylog 2.2.3"
getting error
org.graylog.aws.processors.instancelookup.AWSInstanceNameLookupProcessor - AWS plugin is not fully configured. No instance lookups will happen.

[2017-05-19 06:44] joschi commented on #37
@surajit1188 You have to configure the plugin on the *System* / *Configurations* page as described in the README: https://github.com/graylog-labs/graylog-plugin-aws/tree/1.3.2#general-setup

[2017-05-19 06:44] #37 closed

[2017-05-19 12:44] msteelepmp opened #38 "'The specified log group does not exist' error"
Question, I can't get the last ```aws logs``` command to work. I get the error: ```The specified log group does not exist.``` Note that I've confirmed the ARNs are accurate

[code]

My guess is either I missed a step or there is a step missing in the instructions. It would appear the 'my-flowlogs' needs to be created before running the ```aws logs pub-subscription-filter```?  I tried -```-log-grou

[2017-05-19 23:33] SnazzyBootMan commented on #38
The log group is created when you set up Cloudwatch in step one, like this:

[http://docs.aws.amazon.com/awscloudtrail/latest/userguide/send-cloudtrail-events-to-cloudwatch-logs.html](url)

[2017-05-29 10:31] theecodedragon opened #39 "Provide the ability to use instance profile instead"
I think the best possible solution to use AWS creds should be by attaching instance profile, Instance profile can also assume roles across multiple accounts.

Thoughts?

[2017-06-08 07:50] nobodyrandom commented on #15
Hey just wondering, how is this this feature going? Is there any direct way to pull from S3 yet?

[2017-06-08 13:53] sherzberg commented on #15
@nobodyrandom have you checked out my PR and the comments there?

In the mean time, I also just pulled out my PR to a new repo that I am using: https://github.com/sherzberg/graylog-plugin-s3

This requires a small setup with s3 event notifications, but I think I have it all documented on my readme.

[2017-06-08 14:25] nobodyrandom commented on #15
@sherzberg Yep just got it configured on for CloudTrail S3 bucket. Thank you for your great work!

Is there anyway to use the SNS from CloudTrail directly?

[2017-06-13 07:30] radykal-com commented on #39
Hello,

take a look at #36

[2017-06-23 01:32] jhaar opened #40 "appeared to have corrupted aws plugin - cannot remove"
Hi there

I just upgraded to graylog-plugin-aws-1.3.2.jar and upon restarting have found there's no configuration area to edit any more. It's weird, I have my existing Input config, and can see "AWS Instance Name Lookup" in the "Message Processors Configuration" area, but there's no where to edit what my OAUTH creds are. graylog is now generating infinite "access denied" errors as it tries to down

[2017-06-23 09:35] jhaar commented on #40
Well that's weird. Here it is 8 hours later and the AWS configuration area has magically shown up. I haven't fiddled since submitting this ticket - but the problem is resolved

Jason

[2017-06-23 09:35] #40 closed

[2017-06-29 11:30] ricoli opened #41 "Compatibility with graylog 2.3"
So I tried installing this plugin in the first beta of graylog 2.3. The plugin installs fine and shows in the list of plugins, but there's no configuration section showing up for the plugin. Is support for 2.3 in the pipeline?

[2017-06-29 11:42] bernd commented on #41
@ricoli Thanks for the report. We will make sure to release a version that is compatible with Graylog 2.3. I will let you know once this is done.

[2017-07-03 09:37] radykal-com commented on #25
I would like this too!

[2017-07-26 16:32] bernd commented on #39
Fixed with #36

[2017-07-26 16:32] #39 closed

[2017-07-26 16:33] bernd commented on #35
This got implemented in #36.

[2017-07-26 16:33] #35 closed

[2017-07-26 16:34] bernd commented on #13
This got fixed in #36.

[2017-07-26 16:34] #13 closed

[2017-07-26 17:05] bernd commented on #41
@ricoli I just released version 2.3.0-rc.1 which is compatible with Graylog 2.3. It would be great if you could test this and report back any issues. Thank you!

https://github.com/graylog-labs/graylog-plugin-aws/releases/tag/2.3.0-rc.1

[2017-07-27 12:30] ricoli commented on #41
Hi @bernd and thank you for releasing the new version. Unfortunately I do get a lot of errors when graylog v2.3.0-7 starts with the aws plugin:
[code]
Graylog starts just fine if I don't have the aws plugin installed. I've used the manual installation procedure (copying the jar file).

[2017-07-27 12:52] bernd commented on #41
@ricoli Thank you for the feedback. I will investigate!

[2017-07-27 19:47] bernd commented on #41
@ricoli I found and fixed a few issues. Next try: https://github.com/graylog-labs/graylog-plugin-aws/releases/tag/2.3.0-rc.2 :smiley:

[2017-07-28 10:25] ricoli commented on #41
Hi @bernd and thank you so much for fixing those issues! I can confirm that the plugin works now for the functionality I'm using it for (cloudtrail logs), can't speak for the rest though. Wonderful work 👍

[2017-07-28 10:46] bernd commented on #41
@ricoli Great, thank you very much for testing!

I just released version 2.3.0 of the plugin. https://github.com/graylog-labs/graylog-plugin-aws/releases/tag/2.3.0

[2017-07-28 10:46] #41 closed

[2017-07-31 11:29] et304383 commented on #4
Is this still outstanding?  IAM role support is a must have.

[2017-07-31 12:18] joschi commented on #4
@et304383 Would you be willing to sponsor the development of this feature?

[2017-07-31 15:34] radykal-com commented on #4
Already implemented https://github.com/graylog-labs/graylog-plugin-aws/pull/36

[2017-08-04 10:46] radykal-com opened #42 "Input stuck in starting state if plugin not configured previously"
When installing the plugin for first time (dropping the jar to the plugin dir, for example) and then entering Graylog web interface and configuring a new cloudtrail input from this plugin. If you try to start the new created input it will remain in starting status forever.
To fix it, you need to go to the plugin configuration page, and just press the save button, without need of filling any of the

[2017-08-11 16:31] bernd commented on #38
Closing this, please re-open if this is still an issue.

[2017-08-11 16:31] #38 closed

[2017-08-11 16:33] bernd commented on #29
The InstanceLookupTable is a singleton now. Closing this.

[2017-08-11 16:33] #29 closed

[2017-08-11 16:37] bernd commented on #4
This got implemented in #36 and is available since version 2.3.0.

[2017-08-11 16:37] #4 closed

[2017-08-16 09:55] bernd commented on #42
@radykal-com Thank you for the report. Can you please check if this is still an issue with the just released version [2.3.1](https://github.com/graylog-labs/graylog-plugin-aws/releases/tag/2.3.1)? I wasn't able to reproduce the issue using 2.3.1.

Thank you!

[2017-08-17 09:56] radykal-com commented on #42
I'll check it in a new installation of Graylog 2.3.0

[2017-08-23 03:24] sherzberg commented on #15
@nobodyrandom this plugin now supports CloudTrail directy, no need to use my S3 plugin: https://github.com/graylog-labs/graylog-plugin-aws#cloudtrail-setup-and-configuration

[2017-08-25 10:17] radykal-com commented on #42
Yep, plugin version 2.3.1 seems to have it fixed. Thanks you

[2017-08-25 10:17] #42 closed

[2017-08-25 10:22] bernd commented on #42
@radykal-com Great! Thank you for the feedback!

[2017-08-30 07:17] radykal-com commented on #15
Hi @sherzberg
I don't know if the S3 input differs enough from the CloudTrail one to be a different input.
CloudTrail logs are notified through SNS and read from S3. The only difference between CloudTrail and other logs shipped to S3 are the format of the logged lines. Maybe a single Input type for S3 could manage CloudTrail or any other logs shipped to S3 (like ELB logs for example). We only need

[2017-09-05 20:28] cessner-nw commented on #25
up vote!

[2017-09-06 14:34] lennartkoopmann commented on #25
The latest release, v2.3.1, supports this! Please open tickets with any issues you encounter.

[2017-09-06 14:34] #25 closed

[2017-09-29 09:33] akrus opened #44 "AWS plugin stopped processing messages"
Hello!

Plugin just stopped working, I can see the following in the logs:

[code]

Configuration looks fine, seems it just cannot parse the message.

[2017-10-04 08:06] bernd opened #45 "InstanceLookupTable throws errors when not running inside AWS"
The `InstanceLookupTable` refresh throws errors when not running inside an AWS environment. It should not run when disabled or the Graylog setup does not reside inside AWS.

[code]

[2017-10-04 09:05] joschi commented on #45
@bernd Also see Graylog2/graylog-plugin-threatintel#55.

Looks like we should fix this in the lookup table/adapter interface in Graylog core.

[2017-10-04 09:14] bernd commented on #45
@joschi The `InstanceLookupTable` is not using the lookup table infrastructure yet.

But can you elaborate on how to fix this in the interface? Adding a method to indicate if the lookup table should run/refresh?

[2017-10-04 09:34] joschi commented on #45
Yes, for example by adding lifecycle methods similar to [`Service`](https://google.github.io/guava/releases/23.0/api/docs/com/google/common/util/concurrent/Service.html) which allow starting/stopping lookup tables (or their cache).

[2017-10-04 09:42] bernd commented on #45
The data adapters and caches are `AbstractIdleService` subclasses already. The problem is that they are currently started unconditionally. (and the refresh as well)

[2017-10-04 13:49] ricey99 opened #48 "Role Based Authentication"
Would it be possible to include role and cross account role access rather than just access/secret keys.

This would be very beneficial when running Graylog in AWS.

[2017-10-08 20:00] radykal-com commented on #48
Hello,
Could you explain us a bit more about what do you expect? It can work with Instance profile authentication right now. How is that cross account role setup? Any example?

[2017-10-09 11:00] ricey99 commented on #48
Hi

I am taking my experience from the Splunk Add on for AWS....

As you have stated it looks like your plugin allows it is assume a role via the instance profile, the ability to add additional roles to the plugin from the same AWS account would allow use to setup roles in other AWS accounts with cross account access which would enable access to the account without having to manage access keys and

[2017-10-09 11:15] radykal-com commented on #48
Ok, what I see is that a new config field is required to set the ARN of the assumed role to access the required resources, is this correct?

[2017-10-10 08:21] ricey99 commented on #48
Yes, that sounds correct, if this could be set at the input level it would allow for inputs from multiple accounts.

Thanks

[2017-10-10 08:28] radykal-com commented on #48
Sure, to check the permissions to assume the role it should follow the current chain of authentication right? I mean, if the input has KEY+SECRET it should try to assume the role using them, if not, try it with the instance profile.

If this is correct, I can help with the implementation as soon some maintaineer appears by here to agree with this

[2017-10-10 08:56] ricey99 commented on #48
Yes, that is correct, Thanks !!

[2017-10-10 10:29] joschi commented on #45
@bernd I'm unable to reproduce the issue if the "AWS Instance Name Lookup" processor is disabled or if "AWS Plugin Configuration" ➡️ "Instance detail lookups" is disabled.

[2017-10-10 10:33] #45 closed

[2017-10-11 12:41] joschi commented on #48
@radykal-com Sure, go for it! We'll happily review any pull request you're contributing!

[2017-10-11 12:59] radykal-com commented on #48
#49 is ready. I have tested it in my AWS environment

[2017-10-13 06:50] akrus commented on #44
Any ETA to merge and release?

[2017-10-13 14:42] kroepke commented on #44
@akrus This will be released alongside Graylog 2.4 in which we start bundling this plugin by default.
We won't be releasing individual versions ourselves.

Currently we are working towards a first public beta release for 2.4 which will come as soon as all features are merged.

[2017-10-16 16:00] bernd commented on #48
#49 hast been merged and will be in the upcoming 2.4 release. Thank you @radykal-com!

[2017-10-16 16:00] #48 closed

[2017-10-16 20:33] radykal-com commented on #48
👍

[2017-10-20 20:04] alias454 opened #50 "Downloaded the latest AWS plugin will not load"
I see this error after download the jar file and restarting my GL instance.
2017-10-20T19:55:59.801Z ERROR [CmdLineTool] Plugin "AWS plugins" requires version 2.4.0-beta.1 - not loading!

Version: 2.3.2+3df951e, codename Tegernseer
JVM: PID 47140, Oracle Corporation 1.8.0_141 on Linux 3.13.0-105-generic

[2017-10-20 21:16] radykal-com commented on #50
The version of the plugin you installed is compatible with Graylog 2.4.x versions and you are running Graylog 2.3.2, so only versions 2.3.x of the AWS Plugin are compatible with it

[2017-10-20 21:26] #50 closed

[2017-10-20 22:36] alias454 commented on #50
Oh that would do it. Thanks

[2017-10-26 11:44] SeerKan opened #51 "aws logs stream can't connect to kinesis due to table name issue"
errors:

using graylog 4 beta1 with the plugin preinstalled and the aws user has the recommended permissions to cloudwatch, dynamodb and kinesis streams.

[2017-10-26 12:04] SeerKan commented on #51
Also, If I try to update settings from the configuration part I get the error bellow (tried even without any inputs )

Could not update search config: org.graylog.aws.config.AWSPluginConfiguration
Search config update failed: Error: cannot PUT https://graylog-stage.domain.com/api/system/cluster_config/org.graylog.aws.config.AWSPluginConfiguration (400)

[2017-10-26 12:08] joschi commented on #51
You're using an invalid character in the "tableName" attribute (the colon ':' to be exact).

[2017-10-30 17:52] knightsg opened #52 "Add ability to configure lookup credentials for multiple AWS accounts"
The detail lookups configuration for this plugin only provides the option to enter credentials for a single AWS account. I am currently collecting logs from kinesis streams in multiple accounts but the detail lookup only works for one of the accounts, which means I can't filter/stream on entity types for anything other than the single AWS account.

It would be useful to have this feature as mainta

[2017-11-02 14:10] akrus commented on #44
I'm afraid the problem is still not fixed:

[code]

[2017-11-02 14:15] bernd commented on #44
@akrus Thanks for the feedback. I will reopen the issue. /cc @joschi

[2017-11-02 14:39] PetruGarstea opened #53 "AWS CloudTrail behind proxy"
Greetings,

Install: AWS AMI
Graylog: v2.3.2
AWS plugin: v2.3.1

I run graylog java instance with -Dhttp.proxyHost, -Dhttp.proxyPort and -Dhttp.nonProxyHosts options.
The all infrastructure is behind of corporate proxy. The all aws endpoints are whitelisted on proxy server.
I checked proxy logs and there is no incoming connection to sqs from aws cloudtrail plugin. Graylog logs shows that the conne

[2017-11-02 15:32] danielgrant opened #54 "Add CloudWatch Log Group and CloudWatch Log Stream fields to AWS Flow Logs and Logs"
Currently, `org.graylog.aws.cloudwatch.CloudWatchLogData` only extracts the `logEvents` field from a CloudWatch payload, and ignores additional useful metadata - specifically, the `logGroup` and `logStream` fields.

We have encountered use cases where this information is not only useful, but essential, e.g.:

- When running ECS tasks, the task definition can be configured to use the `awslogs` driv

[2017-11-02 17:41] joschi commented on #44
@bernd @akrus While looking similar, this is a completely different problem.
The `CloudtrailWriteNotification` class expects the "s3ObjectKey" key in the JSON payload to be a string array but it was a literal string in the given example.

https://github.com/Graylog2/graylog-plugin-aws/blob/afa04c9a7934bb4bfec50ae153ce84f3aa07222f/src/main/java/org/graylog/aws/inputs/cloudtrail/json/CloudtrailWrite

[2017-11-04 20:02] radykal-com commented on #44
As documented here: http://docs.aws.amazon.com/awscloudtrail/latest/userguide/configure-cloudtrail-to-send-notifications.html it should be always a string array

[2017-11-09 13:26] akrus commented on #44
Yes, all the messages are coming from Cloudtrail. We have RDS logs and AWS config writing there (and added SES recently, but this error appeared before SES started to send logs).

[2017-11-09 15:02] #54 closed

[2017-11-15 17:59] jseiser commented on #15
Has there been any progress on this?  Having to process our ELB logs outside of Graylog is a real pain.

[2017-11-15 20:51] joschi commented on #15
@jseiser No, but your contributions are welcome!

[2017-11-20 10:19] jalogisch commented on #51
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2017-11-20 10:19] #51 closed

[2017-12-04 08:26] akrus commented on #44
@joschi, should I try contacting Amazon on this case? Or is it possible to have a workaround for this?

[2017-12-06 16:03] ColeBracew opened #56 "Can't receive messages from SQS"
I have tried creating a AWS CloudTrail input and i know all the variables within are correct.

This is the out put in my Graylog log file:

2017-12-06T15:57:32.846Z ERROR [CloudTrailSubscriber] Could not read messages from SQS. This is most likely a misconfiguration of the plugin. Going into sleep loop and retrying.
com.amazonaws.services.sqs.model.QueueDoesNotExistException: The specified queue d

[2017-12-14 10:44] kroepke commented on #44
@akrus I'm checking this against the official SDK now. sorry for the inconvenience!

[2017-12-14 12:56] kroepke commented on #44
@akrus Can you confirm that you are sending AWS Config via cloudtrail as described here: http://docs.aws.amazon.com/config/latest/developerguide/log-api-calls.html ?

It looks like the SNS notification generated in that case is different to other cloudtrail producers. If that's so, that does look like a bug with the service itself to me.

The AWS SDKs I could find all assume (wrongly) that the `s3

[2017-12-14 13:29] kroepke commented on #44
Another update: After spending quality time in the debugger, the AWS cloudtrail SDK does indeed expect and parse only `List<String>` for the object keys, but does so manually, which is why I've missed it earlier.

Which means that those notifications @akrus has in the cloudtrail queue are in fact not cloudtrail logs, but AWS Config events, which have a different format.
The underlying issue is tha

[2017-12-14 13:29] #44 closed

[2017-12-18 15:16] bernd commented on #56
`com.amazonaws.services.sqs.model.QueueDoesNotExistException: The specified queue does not exist for this wsdl version.`

@ColeBracew This looks like your queue does not exist. Please check your config again.

We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [discussion forum](https://community.graylog.org/) or join the [

[2017-12-18 15:16] #56 closed

[2018-01-03 18:47] petestorey26 opened #57 "Allow use of IAM role for access control rather than key"
Since it's easy to configure the graylog server instance to have an IAM role which can provide access, it would be god if we can leave the keys blank and simply allow it to use the role instead - an easy fix I'd imagine?

[2018-01-03 18:52] radykal-com commented on #57
Hello @petestorey26
This functionality is already implemented. If you don't specify the keys in the input config, it will try to authenticate using the roles assigned to the instance profile.

[2018-01-08 10:37] jalogisch commented on #57
@petestorey26 what @radykal-com wrote - if you have further issues please open a new issue or reopen the current one.

[2018-01-08 10:37] #57 closed

[2018-01-14 16:03] radykal-com commented on #52
Hello,

I agree that would be nice to have lookups for multiple AWS accounts.

As far I can see, this plugin should be developed taking into account that it's very common to run Graylog inside AWS infrastructure and also that is very common to have more than one AWS account you would like to collect logs from, without forget that there are multiple ways to implement the authentication process (sec

[2018-01-16 19:38] lennartkoopmann opened #58 "Cannot save plugin configuration"
When trying to save the AWS plugin configuration on the "Configurations" page I get a HTTP 400 with the following error in the `graylog-server` log:

[code]

[2018-01-16 19:43] lennartkoopmann opened #59 "Proxy configuration does not seem to work"
The plugin configuration object has a `proxyEnabled` attribute, but it cannot be set anywhere. All AWS calls are checking for this attribute and do not use the configured proxy if it is set to `false` - which it is by default, with now no way to set it to `true`.

I don't know if I'm completely missing something here, but it looks to me like this simply cannot work.

[2018-01-17 08:29] #58 closed

[2018-01-18 14:24] daytonpa opened #62 "Add documentation for configuring the graylog-plugin-aws inside the graylog.conf"
I cannot find any resources, or if they exist, there isn't an easy way to find those resources.  It would be nice to have documented settings/flags for the `server.conf` file for configuring this plugin.

[2018-01-18 14:32] dennisoelkers commented on #15
As there is now at least a subset of the desired functionality in the plugin and the issue's scope was hijacked by other users, I am closing this for now. If there are further feature requests, please open a new, more precise issue.

[2018-01-18 14:32] #15 closed

[2018-01-18 14:35] dennisoelkers commented on #20
Since the last release we are supporting Cloudtrail in this plugin. Can you please verify if you are still unable to solve your issue?

[2018-01-18 14:38] joschi commented on #62
@daytonpa This plugin doesn't have any configuration settings in the Graylog configuration file.

It's configured via the System/Configurations page in the Graylog web interface.

[2018-01-18 14:38] #62 closed

[2018-01-18 15:06] daytonpa commented on #62
From an automation standpoint, could this be added as a feature?

[2018-01-18 15:09] #59 closed

[2018-01-18 15:14] joschi commented on #62
@daytonpa No, but you could use the Graylog REST API to change the configuration of the AWS plugin in a running instance.

We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [discussion forum](https://community.graylog.org/) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

[2018-01-22 01:09] PetruGarstea commented on #53
Hi Joschi,

Thanks for your reply, I already figured it out, yes you are right I did https proxy over graylog traffic and it worked.

Thanks,
Petru

[2018-01-22 10:27] hybby commented on #52
:+1: from me.  It'd be great if this plugin could tell that the running host was an EC2 instance and if so, provide an option to use its IAM Role instead of hardcoded credentials.

[2018-01-22 15:16] evansj opened #64 "More documentation about IAM setup"
Background: I am trying to set things up so that my CloudWatch Logs are pushed through to a Graylog instance. My Graylog is running in a Docker container, and all of the AWS infrastructure is created and configured using Terraform scripts.

In the Graylog UI, the AWS Plugin Configuration popup says the following regarding the AWS access key and secret key fields:

The only documentation I can find

[2018-02-14 05:27] arunamat opened #65 "Cloudtrail plugin is not reading messages from SQS"
Hi,

I have done the necessary configurations for cloudtrail notifications. I can see messages being delivered in my SQS but for some reason graylog is not reading those messages. I checked the server logs too. There isn't any errors being thrown. Is there any way to enable debug for the plugin? I'm using the latest graylog version 2.4.3.

Thanks in advance.

[2018-02-14 12:01] arunamat commented on #20
@dennisoelkers, i believe they are referring to support for AWS config logs.

[2018-02-14 15:40] arunamat commented on #34
@leomazzo, is your issue resolved? I'm facing a similar issue with the latest version.

[2018-03-05 13:32] julian-berks commented on #25
@lennartkoopmann - having trawled through the docs including the plugin readme, I can't see any evidence that Graylog does pull from "Cloudwatch". The only mention of CloudWatch in the plugin readme, is in the title.
From what I can see, the plugin only collects data from  "Cloudtrail" and "FlowLogs" and consequently, these 2 aspects are documented in the readme, but nothing for cloudwatch.
 Is th

[2018-03-05 15:26] lennartkoopmann opened #66 "CloudWatch logs input needs documentation"
The "AWS Logs" (CloudWatch logs) input does currently not have any documentation. A lot can be borrowed from the Flowlogs setup section.

[2018-03-05 15:27] lennartkoopmann commented on #25
The input is called "AWS Logs". It reads CloudWatch logs from a Kinesis stream. You are right that this input is not documented yet. I have created #66 to address this. Until then, you can use most of the FlowLogs documentation to set up the `CloudWatch > Kinesis < Graylog` connection, because FlowLogs are, in the end, just CloudWatch logs.

[2018-03-09 15:24] jonmelia opened #67 "Multiple AWS Flog Logs Input not working any more"
Up until recently, mid Feb, we used to be able to run 2 AWS Flow Logs Inputs from 2 separate Kinesis streams and messages would come into both simultaneously.  Now it seems that only one Input will accept logs at any one time.  Both of them work, but only individually.  They both won't collect messages from the separate streams at the same time.  The Kinesis streams are fine, but Graylog is only p

[2018-03-09 15:27] lennartkoopmann commented on #67
Can you please send your `graylog-server` logs? It would be great to see logs of the input being stopped and started.

[2018-03-09 16:03] jonmelia commented on #67
Just noticed that when I thought i had updated to the latest plugin it is still trying to use the old plugin which I had renamed.  I have now removed the old plugin and added the 2.4.0-beta.1 plugin into the plugins directory and restarted graylog-server, but it is not picking up the new plugin...  Message
Plugin "AWS Plugins" requires version 2.4.0-beta.1 - not loading

[2018-03-09 16:05] lennartkoopmann commented on #67
@jonmelia Graylog 2.4 ships with the AWS plugins by default. You should not have to install it manually. What Graylog version are you running?

[2018-03-09 16:07] jonmelia commented on #67
v 2.3

[2018-03-09 16:08] lennartkoopmann commented on #67
You'll need the v2.3 version of the AWS plugins for this to work. I'd recommending upgrading to Graylog v2.4 instead because this will bring you the AWS plugins out of the box. Please re-open this ticket if the issue persists.

[2018-03-09 16:08] #67 closed

[2018-03-12 10:38] julian-berks opened #68 "Instance Lookup Failure"
Hi,
Set up the AWS plugin and given access to my AWS stack - I'm Getting
[code]
The output implies it's found the same host twice (identical details) - how do I work around this?

[2018-03-12 15:14] sensware commented on #51
Could not update search config: org.graylog.aws.config.AWSPluginConfiguration
Search config update failed: Error: cannot PUT https://graylog-stage.domain.com/api/system/cluster_config/org.graylog.aws.config.AWSPluginConfiguration (400)
[https://imgur.com/mFKfe2k](https://imgur.com/mFKfe2k)

I am getting the same error while trying to update AWS configuration  with my AWS AK/SK
I tried with or with

[2018-03-28 02:17] badllama commented on #20
Has there been any progress with supporting AWS Config data with this (or some other) plugin?

[2018-03-30 03:53] tj13 opened #71 "support for aws region CN_NORTHWEST-1"
as the title said, pls add support for the new aws region CN_NORTHWEST-1.

[2018-03-30 07:53] joschi commented on #71
Refs hashicorp/packer#5943

[2018-04-04 08:36] copperschnack commented on #25
The Graylog input for AWS Logs works great, thanks Lennart!

For me, the hardest part was getting CloudWatch to forward the Log Group events to my Kinesis Data Stream. I did not manage to set it up via the AWS console, ie. via CloudWatch Rules. What set me on course was the manual for [CloudWatch Logs Subscription Filters with Kinesis.](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Subs

[2018-04-10 15:10] umeshdc opened #72 "How to handle node where aws kinesis input thread is running"
Hi,

We have 2 node graylog cluster and we found that at any point aws kinesis input thread will be running in only one graylog node.

Also we found that if graylog node where this thread is running goes down, their no way that active graylog will recreate that thread to continue consuming messages.

Please let us know if their is a way to handle this scenario.

Thanks

[2018-04-10 15:56] joschi commented on #72
@umeshdc Have you tried starting the input as a global input (which is running on all nodes)?

[2018-04-10 18:05] Guido0370 opened #73 "Missing region EU-WEST-3 (Paris)"
AWS has new region eu-west-3 and graylog knows nothing about it.

[2018-04-10 20:47] radykal-com commented on #73
I think this issue and also #71 would be fixed if the version of the AWS SDK is updated to latest version:
https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/regions/Regions.java

[2018-04-11 03:25] umeshdc commented on #72
Yes, If we choose global option while creating input, then thread will be created in randomly selected node. If we select specific node then thread will be always created in the selected node.

[2018-04-19 15:04] bernd opened #76 "Add scripts that allow creation and teardown of AWS test setups"
Testing changes to this plugin is currently quite hard if the developer doesn't have a running AWS setup.
We need a way to simplify the creation and also deletion of test setups in AWS so we can test changes to this plugin.

We could create [terraform](https://www.terraform.io/docs/providers/aws/index.html) scripts that will create all required resources in AWS and an empty VM where we can run Gra

[2018-04-19 15:05] #71 closed

[2018-04-19 15:05] #73 closed

[2018-04-19 15:38] adamaod commented on #76
I didn't write this, but I use this for for these types of situations.  Written from terraform 0.8.8.

[Graylog-Dev-AWS.zip](https://github.com/Graylog2/graylog-plugin-aws/files/1928775/Graylog-Dev-AWS.zip)

[2018-04-22 20:56] lennartkoopmann commented on #76
@bernd This would be very useful for our automated demo environments, too. I have everything terraform'd except Graylog and the AWS log sources.

[2018-05-21 07:30] qoovsxp opened #77 "How to set AWS cloudtrail input from another aws account bucket"
Hi,

We follow this document to set sharing CloudTrail Log Files Between AWS Accounts.
https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-sharing-logs.html
We put B AWS account’s cloudtrail logs to A AWS account bucket.
And we let cloudtrail iam user can access A AWS account bucket.

We set a assume role to input try to get log from A AWS account bucket,but a SQS error occur.
![

[2018-05-21 08:36] radykal-com commented on #77
Hello,

what version of the graylog-aws-plugin are you using and how is your input configured?

[2018-05-21 08:44] qoovsxp commented on #77
Hi radykal,

My graylog version is 2.4.4 and that has integrate graylog-aws-plugin.
I set the assume role on input.
![image](https://user-images.githubusercontent.com/22346526/40298464-d0b7913e-5d15-11e8-9edb-56072c58f078.png)

![image](https://user-images.githubusercontent.com/22346526/40298542-168138d2-5d16-11e8-9d6e-d6dbe8ed972f.png)

The sqs set on AWS as follow.
![image](https://user-images.g

[2018-05-21 09:44] qoovsxp commented on #77
OK,I will describe that about 16 hours later.Appreciate your help.

[2018-05-22 20:32] radykal-com commented on #77
Well, your setup looks fine for me.  I'll try to configure one of my graylog instances with the same setup and check what happens.

[2018-05-29 18:26] et304383 commented on #77
Would like support for this too.  It's AWS best practice to run multiple accounts and centralize CloudTrail logs into a single bucket in a logging account.

It would be incredibly cumbersome to have each account's CloudTrail send SNS notifications to the logging account.

The CloudTrail plugin should support parsing SQS messages sent by S3 event notifications, not just CloudTrail notifications.

T

[2018-05-30 13:58] et304383 commented on #77
@qoovsxp I got around the current limitations by putting S3 events on the CloudTrail bucket, sending them to Lambda, then restructuring them to look like the SNS log delivery messages the plugin wants.

Some python code:

[code]

[2018-05-30 15:44] et304383 opened #78 "responseElements["status"] is not always a string"
This is in some of my CloudTrail records:

[code]

I think com.graylog2.input.cloudtrail.json.CloudTrailResponseElements needs to be fixed to not expect status is only ever a string.

[2018-05-31 16:33] et304383 opened #79 "Documentation for AWS Logs input type"
I see this as the third type of AWS input types built in, but I don't see any documentation on what this does.  Please document.

[2018-06-04 09:16] joschi commented on #78
Refs #6

[2018-06-04 21:59] knightsg commented on #52
We have a single cluster of graylog servers ingesting logs from multiple AWS accounts, so if we leave the key fields blank and it uses an IAM role, I would imagine it's still only going to use the role for the account where the graylog server is and only look up instance details from that account - is that correct? In which case, it doesn't solve the original issue, which is looking up details fro

[2018-06-06 17:00] radykal-com commented on #52
Exactly, the plugin doesn't support right now to run instances lookup in multiple accounts.

[2018-06-18 18:32] hhh0505 commented on #65
same here, anything for this?

[2018-06-24 12:58] radykal-com commented on #76
Hello,
this project may be useful https://github.com/localstack/localstack for this issue, this way you don't need to spend money on bringing up AWS real services

[2018-06-26 14:31] #65 closed

[2018-06-26 14:31] arunamat commented on #65
issue has been resolved. had to configure cloudtrail to directly post events to the sns topic.

[2018-06-27 11:44] naggappan opened #80 "Error message in logs that it cannot read from SQS even thought everything works fine"
Version used: graylog-2.4.5-1.qcow2  (openstack image)

Provided following permissions for a user in aws and used it's auth id / token in graylog aws plugin
Full access: cloudwatch / SNS / SQS
Read only: s3 Kinesis

Now everything works fine and I am able to see the messages in dashboard but still I get the following error message in graylog server log,

`
 ERROR [CloudTrailSubscriber] Could not r

[2018-06-29 07:35] naggappan commented on #77
Do SNS support cross account? If yes Then I can provide my aws log account SNS topic to all my other accounts cloud trial.
@et304383 if I use the above come then in cloud trial of different accounts I don't need to select SNS notification right?

[2018-07-30 17:41] runningman84 opened #82 "Add a generic kinesis plugin"
I have a lot of different message types (cloudtrail, flowlogs, instance logs, elb logs, lambda) sent to aws kinesis. It would be great if Graylog could subscribe to this kinesis stream and read the messages (string or json).

This plugin is too specific (AWS FlowLogs input) for my custom solution. My logs are coming from multiple source account and already contain meta information like aws account

[2018-07-30 17:42] runningman84 commented on #82
@lennartkoopmann what do you think?

[2018-08-01 14:10] hhh0505 opened #83 "Is it possible ot bypass SNS?"
Im currently sending CloudTrail logs to an S3 bucket from multiple account and created an event to publish to SQS whenever there is a new event. I see events in the Queue but CloudTrail input doesn't seem to pick them up.

Is this possible?

[2018-08-20 16:18] jalogisch commented on #82
currently this will be not on the roadmap - that is why i'll close this now.

[2018-08-20 16:18] #82 closed

[2018-08-21 22:11] danocodes commented on #68
Are you still able to reproduce this error? Does the error always occur for you, or does it only occur with a specific AWS instance/network configuration? We are looking for any information that might help us identify why it is occurring in this case. Any additional info would be appreciated.

[2018-08-21 22:45] danocodes commented on #20
AWS Config tracks AWS environment changes based on user-defined/focused compliance rules (eg. if ports on a security group changed, then move security group to Not Compliant state - which also triggers a SNS message as an alert of the change). I believe this request is asking for the ability to push the AWS Config SNS message content to Graylog (which might allow more focused logging than CloudTra

[2018-09-06 21:09] danotorrey opened #85 "Add throttling support for the AWS Flow Logs input"
The configuration for the AWS Flow Logs input includes an "Allow throttling this input" checkbox. Currently, the status of this checkbox is ignored on the backend. Implement throttling support for this input and enable it when this box is checked.

Currently, if large batches of Flow Logs are received (sometimes as large as 5GB), the Graylog journal may completely fill up, which may disrupt proces

[2018-09-25 13:04] epierce78 opened #86 "Kinesis stream - not in GZIP format"
I've got a fresh install of Graylog 2.4.6 on Ubuntu 18.04.  I've set up a Kinesis stream to receive Cloudwatch Log events and process them into Graylog.  (I think we'll do filtering in Graylog, if we can, rather than on the AWS side, as there may be new log streams we want to ingest freqently).

Anyway, once configured, I receive the following exception from the plugin:

`java.util.zip.ZipExceptio

[2018-09-26 21:52] agtcovert commented on #86
To provide some additional information, the data on the Kinesis stream looks like this:
`        {
            "SequenceNumber": "49588570039560669873433680102537011752139567696304930818",
            "ApproximateArrivalTimestamp": 1537919012.95,
            "Data": "eyJ2ZXJzaW9uIjoiMCIsImlkIjoiMjJlOTAxZmEtOTk0ZS1mZjdhLWU4NTMtOTgzNmVkYWI1OWFhIiwiZGV0YWlsLXR5cGUiOiJBV1MgQVBJIENhbGwgdmlhIENsb3VkVHJh

[2018-09-27 17:59] agtcovert commented on #86
I've forked the repo and implemented support for this.  See here: [https://github.com/agtcovert/graylog-plugin-aws/commit/957aca38de32f60cf28f8415cfc5afc9c3d6b4a4](url) for the diff.

I know it's not perfect, but it is working for capturing subscriptions from CloudWatch to Kinesis.  There also appeared to be some checkpointing errors in the KinesisConsumer class that I believe i've resolved.  Goin

[2018-10-09 04:54] kieulam141 commented on #24
Hi @lennartkoopmann
Can I use "AWS log" Input for this case?

[2018-10-11 15:52] danotorrey commented on #86
@agtcovert Thanks for all of the details.

**Regarding GZIP/Base64 payload**: Very interesting. It be good to understand why the different formats are being sent (to make sure that all cases can be properly handled). I was not able to reproduce the issue (sending `FlowLogs>CloudWatch>Kinesis stream`, and `Lambda logs>CloudWatch>Kinesis` stream). Both cases returned a GZIP payload. Did the Kinesis

[2018-10-11 15:56] danotorrey commented on #68
@julian-berks Are you still able to reproduce this error? Does the error always occur for you, or does it only occur with a specific AWS instance/network configuration? We are looking for any information that might help us identify why it is occurring in this case. Any additional info would be appreciated.

[2018-10-11 16:01] danotorrey commented on #34
@leomazzo @arunamat Is this issue still occurring? Could you please enable Debug logging level (in System > Logging > Subsystem: Graylog) and try again to reproduce the issue? The Debug logs might provide additional troubleshooting details.

[2018-10-11 21:46] danotorrey commented on #85
This change is in development now.

[2018-10-17 15:42] danotorrey opened #89 "Indefinite errors occur if the AWS Logs/Flow Logs inputs are quickly started/stoped"
The AWS Logs/Flow Logs inputs do not properly handle rapid start/stop attempts. If the input is started, then stopped and started again (possibly with an accidental double-click), and instance of the AWS Kinesis worker will enter into a persistent error state and log the following message every few seconds forever. The only way to stop this currently is to completely restart the Graylog server.

T

[2018-10-17 15:44] danotorrey commented on #89
I talked to @bernd about this. This is a challenge to fix, because the Kinesis worker maintains it's own worker thread pool. Shutdown requires termination of those and release of other resources. We cannot  simply terminate the parent worker.

Perhaps pausing the worker startup until previous instances have shut down is an option.

[2018-10-18 14:53] danotorrey commented on #86
@agtcovert I was finally able to reproduce the java.util.zip.ZipException: Not in GZIP format error. In my case, the Kinesis stream data did not originate from CloudWatch (so Graylog was not able to read it). I am still wondering where the log data originated from when the error occurred for you. We can definitely add a check for GZIP or not (and would appreciate your contribution for that), but I

[2018-11-07 15:13] danotorrey commented on #34
@leomazzo @arunamat Can you please verify that the SQS subscription is not set for "Raw message delivery"? This option will prevent the CloudTrail input from working.

See this AWS docs page for more info. https://docs.aws.amazon.com/sns/latest/dg/sns-large-payload-raw-message-delivery.html

Please let us know if this does not fix it. We are happy to investigate further if needed.

[2018-11-07 15:13] #34 closed

[2018-11-07 15:29] danotorrey commented on #86
Hi @agtcovert,
Since we have not heard back from you, I am closing this issue for now. Please let us know if you are still experiencing trouble. We're happy to take another look if needed.

[2018-11-07 19:53] danotorrey commented on #68
Hi @julian-berks,
Since we have not heard back from you, we are closing this issue for now. If the error is still reproducible, please let us know, and we happy to investigate further.

[2018-11-07 19:53] #68 closed

[2018-11-19 14:00] danotorrey commented on #85
This is implemented. Just waiting for PR review. We're planning to release this at the same time as 2.5.

[2018-11-28 16:58] #85 closed

[2018-11-28 17:15] bernd commented on #79
Fixed in #88.

[2018-11-28 17:15] #79 closed

[2018-11-28 17:15] bernd commented on #66
Fixed in #88.

[2018-11-28 17:15] #66 closed

[2018-12-04 23:12] ion9 commented on #76
Do we want terraform or cloud formation, I have both. It is setup as ECS tasks running on a ASG. Let me know if you would like the code.

[2018-12-09 00:50] jplewes opened #97 "KinesisConsumer application name not unique across multiple instances of graylog"
There is a problem when attempting to use multiple separate instances of graylog configured to communicate with the same Kinesis stream.  The generated application name for the Kinesis client ends up being identical across instances ("graylog-plugin-aws-#stream-name#").

This may work for multiple nodes/workers on the same graylog cluster as its not desired to receive duplicate messages.  In my ci

[2018-12-14 20:21] danotorrey commented on #97
@jplewes To address this, we would like to add a new AWS Logs/AWS Flow Logs input configuration field named `Kinesis Application Name`. The field will be blank by default and also optional. If a value is filled in, then the applicationName supplied to the AWS Kinesis library will be set to the specified value.

This solution allows for backwards compatibility for existing installs (prevents Kinesi

[2018-12-14 22:42] jplewes commented on #97
Yes this would work, absolutely.

[2018-12-18 15:17] bernd opened #100 "Include GZIP fix from 2.5 branch"
The following change in the 2.5 branch needs to be cherry picked into master:
https://github.com/Graylog2/graylog-plugin-aws/pull/98

[2019-01-03 09:56] #100 closed

[2019-01-04 15:55] ion9 opened #102 "Application didn't checkpoint at end of shard"
After increasing the shard count of a steam I find errors like:

[code]

info on shard from diffrent log:
[code]

Looks like:
https://github.com/awslabs/amazon-kinesis-client/pull/345

Other information:
https://docs.aws.amazon.com/streams/latest/dev/kinesis-using-sdk-java-after-resharding.html#kinesis-using-sdk-java-resharding-data-routing
```After the reshard has occurred and the stream is again

[2019-01-04 16:11] ion9 commented on #102
describe-steam on the problem stream.
[code]

[2019-01-04 16:46] ion9 commented on #102
Deleting and remaking the stream did not help:
[code]

[2019-01-04 16:49] ion9 commented on #102
Found a work around: remove the items form the dynamodb table for the input.

[2019-01-08 23:33] danotorrey commented on #97
Hi @jplewes,
Another option we are considering for future AWS development is to remove the need for a Kinesis stream when reading CloudWatch and Flow Log messages from AWS. The goal would be to read the messages directly from CloudWatch. The main idea is to reduce complexity and cost. What do you think about this? Would this present any issues for your use case?

[2019-01-10 01:12] ion9 commented on #102
i'm using it for both, the problem was on a CloudWatch logs stream that I added a shard to with the input running.

[2019-01-10 22:01] jplewes commented on #97
Hi @danotorrey

I think this could work fine as well..  as long as multiple graylog instances can read from the same cloudwatch source, and multiple cloudwatch sources can be configured in graylog?

[2019-02-18 19:56] gliptak opened #113 "Travis shows "This is not an active repository""
https://travis-ci.org/Graylog2/graylog-plugin-aws

[2019-02-19 09:26] deeshe commented on #113
We are not using travis for this repository.

[2019-02-19 09:26] #113 closed

[2019-02-19 16:06] gliptak commented on #113
So there is no build configured for this repo?

[2019-02-20 09:50] jalogisch commented on #113
sorry for not be more specific - yes currently that is not configured. But we will do this after your notice.

May we ask why you want to look at that?

[2019-02-20 18:22] gliptak commented on #113
I was working a quick review to learn more about the project and seeing how it is built (and a green build) is part of that.

[2019-03-05 16:09] daugustus opened #117 "CloudTrail stacktrace"
this is a fresh install of graylog on CentOS Linux release 7.5.1804

graylog-server-3.0.0-12.noarch
graylog-enterprise-plugins-3.0.0-12.noarch
graylog-integrations-plugins-3.0.0-12.noarch
graylog-3.0-repository-1-6.noarch

This error is appearing in the logs. Additionally, I cannot get CloudWatch or CloudTrail logs into Graylog. This appears to be a configuration error but I cannot seem to determi

[2019-03-06 07:15] tj13 commented on #86
we got the same issue when put-record directly to kinesis stream.

[2019-03-07 10:31] tj13 commented on #86
we got the same issue when put-record directly to kinesis stream.

@danotorrey will this case be support?

[2019-03-12 15:48] danotorrey commented on #117
Hi @daugustus
Thanks for the information. This issue could be occurring if the Raw Message Delivery box is checked for the SQS subscription attributes. Could you please make sure this box is unchecked, and let us know if this resolves the issue?

Instructions for finding this checkbox are available at https://docs.aws.amazon.com/sns/latest/dg/sns-large-payload-raw-message-delivery.html

[2019-03-22 22:12] sean-abbott commented on #97
Also, this does't clean up the dynamo db when you delete the plugin. Which if you're using terraform to test that things can be deleted and recreated is confusing.  :-)

[2019-04-02 19:35] kroepke opened #118 "Check support for AWS US Gov East region"
It looks that the library version we are using does not have support for the US Gov East region.
It was added in https://github.com/aws/aws-sdk-java/commit/d617b31353d63a8291ff0be66727ce771ad4c812, referenced in https://github.com/aws/aws-sdk-java/blame/master/aws-java-sdk-core/src/main/java/com/amazonaws/regions/Regions.java#L28

We are still on an older version, so updating the client version to

[2019-04-03 12:46] danotorrey commented on #118
I am investigating this.

[2019-04-04 17:11] pmvilaca commented on #97
+1

I have exactly the same use-case that was described by @jplewes

Are you planing to implement a fix for this in the near future?

@jplewes - How did you fix this? Forked the repo, did the change, build a custom version of the plugin and installed on both graylog clusters?

[2019-04-08 11:50] max-rocket-internet opened #120 "Processing logs direct from Kinesis (NOT via cloudwatch logs)?"
We are using Graylog `2.5.1+34194da` and want to skip cloudwatch logs and send our logs directly to Kinesis using [aws-fluent-plugin-kinesis](https://github.com/awslabs/aws-fluent-plugin-kinesis).

We did a quick test but saw some errors related to GZIP. This same issue was mentioned at the end of https://github.com/Graylog2/graylog-plugin-aws/issues/86

Should this work?

[2019-04-08 22:46] danotorrey commented on #120
@max-rocket-internet Thanks for the details. The AWS Logs and AWS Flow Logs inputs in Graylog were designed to work directly with CloudWatch, so there is some hard-coded processing (GZIP and CloudWatch JSON object decoding). These are most likely causing the errors you are seeing.

Can you help me understand what the payload (log messages) look like that are being written to the Kinesis stream? We

[2019-04-08 22:57] danotorrey commented on #117
@daugustus I just wanted to check in to find out you were able to solve this. We're happy to take a further look if you need any more help.

[2019-04-08 23:03] danotorrey commented on #102
@ion9 Understood! We appreciate the info on the use case. We will definitely keep this in mind with future AWS development.

We're planning to use the latest AWS SDK client version 2.0 with our upcoming AWS development, which should hopefully resolve the checkpoint issues on increasing the shard count.

Is increasing the shard count a frequent operation? Does it have to be performed live (or can i

[2019-04-08 23:06] #117 closed

[2019-04-08 23:18] ion9 commented on #102
I would push to keep it as kinesis, after you grow out of an account you will be looking at how to do cross account logging and be right back to kiensis.

I have a bit of everything in the streams, I have cloudtrail, flowlogs, awslogd from some old school ec2's, our ecs cluster hosts, all the app logs from the ecs tasks, lambda logs, ALB logs, redshift, elasticsearch, directoryservices, code pipel

[2019-04-10 12:06] #118 closed

[2019-04-11 09:28] max-rocket-internet commented on #120
Hey @danotorrey
Thanks for the reply.

Ah, makes sense.

Sure. It's quite simple, it's just [aws-fluent-plugin-kinesis](https://github.com/awslabs/aws-fluent-plugin-kinesis) running, docker image is `fluent/fluentd-kubernetes-daemonset:v1.3.3-debian-kinesis-1.3` made by fluentd. It simply runs as a daemonset on our k8s nodes and collects logs. Nothing fancy, it's a pretty standard logging daemonse

[2019-04-24 14:46] danotorrey commented on #64
Hi @evansj,
We have improved our README file and documented the specific permissions needed for the AWS Logs/Flow logs inputs here https://github.com/Graylog2/graylog-plugin-aws#step-3-create-aws-user-for-running-the-input.

Please let us know if you have any more questions.

[2019-04-24 14:46] #64 closed

[2019-04-26 12:56] jplewes commented on #97
@pmvilaca Yes I simply augmented the plugin code based on my initial post, recompiled the plugin and added the jar file in both my graylog installations.

[2019-05-30 20:10] srlucken commented on #120
Hello @max-rocket-internet - Have you found a work around for this? I have many Kinesis streams I want to integrate with Graylog however I'm getting the same "Not in GZIP format" error message you mentioned.

[2019-05-31 09:08] max-rocket-internet commented on #120
@srlucken

Nope. I don't think a work around is possible, it's simply not supported. We've moved to Datadog now.

[2019-05-31 09:19] kroepke commented on #120
@srlucken Which formats would you expect to the sending to Graylog this way?
The OP was using the fluent plugin, which apparently has a fixed proto2 transport encoding, so that would need to be implemented directly anyway, but other formats might be easier to support.

Thanks!

[2019-05-31 14:19] srlucken commented on #120
Hello @kroepke - Currently the main format we're sending to Graylog is JSON. In regards to improved AWS Kinesis support, does Graylog have anything currently in development or on a roadmap that might meet this need in the near future?

[2019-05-31 15:01] danotorrey commented on #120
@srlucken Direct Kinesis support for arbitrary/custom log formats is definitely on our radar and will likely be supported in a future release. We are still working out the details for how to handle the various log formats that might be supplied.

Are you writing a distinct JSON document within the data payload for each Kinesis record? The current thinking is that we could directly extract the payl

[2019-06-05 19:59] danotorrey commented on #86
Hi @agtcovert,
We are planning to add support for Graylog to read non-GZipped payloads in a future version of Graylog. This would add support for reading those records which were put directly in CloudWatch. We do note have a release date yet, but I will add a reminder to update you once we do.

[2019-06-05 20:07] lsanders opened #159 "Newlines in cloudwatch logs cause trunction"
I've noticed that any cloudwatch log messages with newlines seem to truncate. Googling suggests this is a syslog constraint. I haven't dug into this plugin or the graylog plugin framework, but I'm wondering if it's possible to create the input with something that supports newlines?

Any pointers would be greatly appreciated. I'm also happy to take a crack at this if it's something that would be co

[2019-06-06 17:08] jberneberg commented on #86
@danotorrey We have run into this issue as well, and are interested in getting this resolved quickly. Is there a way I can expedite resolution? I have some hours I can devote to resolving this.

[2019-06-06 21:11] srlucken commented on #120
@danotorrey Thank you for the response. Here is a sample JSON payload.

`{
  "type": "type",
  "auth": {
    "client_token": "clientToken",
    "accessor": "accessor",
    "display_name": "displayName",
    "policies": [
      "policy",
      "policy"
    ],
    "token_policies": [
      "token",
      "policy"
    ],
    "metadata": {
      "role_name": "roleName"
    },
    "entity_id": "entityI

[2019-06-12 12:19] jalogisch commented on #159
@lsanders

could you please share some sample messages that you have issues with. Syslog does not include new lines, or at least no RFC. Only a draft contains newlines as valid. (AFAIK).

When you share some of your messages we can look at, maybe you hit a bug.

[2019-06-19 19:20] danotorrey commented on #159
@lsanders I just want to confirm, is this happening when using the AWS Logs input type in Graylog?
Also echoing @jalogisch's request for sample logs. Even a screen shot of the log message within CloudWatch would help lots.

[2019-06-20 14:49] lsanders commented on #159
Hey guys,

I see what's happening now. Yep, we are using AWS Logs and we created a common logger to add some more structure to our messages as well as some serializing objects to JSON. It decorates the log message with tab delimited fields. So, while looking for our JSON objects, it appeared to truncate because I was filtering on one of the other structured fields (e.g. a tenant_id tacked on by ou

[2019-06-20 14:49] #159 closed

[2019-06-20 18:55] danotorrey commented on #159
@lsanders Thanks for the info. I am glad you were able to identify a workaround. Was it purely the presence of the newline characters that caused the issue? Do you know if the message was being split into multiple messages on the CloudWatch side? I ask, because I am curious if there is anything we can fix on the Graylog side to help with this in the future.

[2019-06-24 10:59] daniejstriata opened #172 "better example needed for creating permissions.json"
Hi,

I cannot get past creating a working permissions.json: Is it possible to add an example so I can see what a working config would look like? Mine prints out:

[code]

Mine looks like:

[code]

[2019-07-01 12:07] danotorrey commented on #172
Hi @daniejstriata,
The example policy document appears to be valid. I was able to use it successfully in a test.

It looks like the error is occurring when the AWS CLI attempts to parse the JSON policy document. The AWS CLI JSON parser is quite strict. Even a blank line at the beginning can cause this error. Could you please double check to make sure there are no extra lines or spaces around the J

[2019-07-31 12:59] #172 closed

[2019-09-24 15:47] hamstah opened #249 "Handle cloudtrail message where the message is not json"
Stacktrace

[code]

This is caused by those messages being put in the SQS queue by SNS sometimes (not sure what causes it). The Message field is not JSON so it fails to be parsed and the message stays in the queue and gets refetched forever in a loop, polluting the graylog logs with the stacktrace.

[code]

[2019-09-25 08:19] hamstah commented on #249
Just found https://github.com/Graylog2/graylog-plugin-aws/issues/117 but I checked and we have raw delivery disabled.

[2019-09-30 12:49] danotorrey commented on #249
@hamstah Thanks for the info. I will do some investigation to see if I can figure out why these messages are intermittently appearing in the queue.

[2019-09-30 18:25] danotorrey commented on #249
Hi @hamstah,
I really appreciate you bringing this to our attention. These "CloudTrail validation message" SNS notifications get created when the SNS topic for a trail is updated or created. We will need to change the Graylog SNS processing logic to safely ignore them.

Once you have everything set up, these messages should not continue to be generated.

The workaround is to manually delete the va

[2019-09-30 20:45] hamstah commented on #249
Hey Dan,

Yeah that's what I've been doing to purge the queue, good to know it's only
on update and not periodical at least.

Thanks for looking into it

On Mon, 30 Sep 2019, 8:25 pm Dan Torrey, <notifications@github.com> wrote:

[2019-10-16 20:43] danotorrey opened #263 "Missing SLF4J bindings for Log4j"
The SLF4J/Log4j bindings are missing the this repository, which results in the following error. Add the correct bindings to route AWS SDK log messages to Log4j.

[2019-10-16 20:43] danotorrey commented on #263
See https://github.com/Graylog2/graylog-s3-lambda/blob/9aa3ac2cb7e61848aec81cb5e59fcef7a2adcb30/pom.xml#L80

[2020-05-05 07:50] bernd opened #356 "Encrypt secrets in AWSPluginConfiguration"
The secret values in `AWSPluginConfiguration` are currently stored unencrypted in the database. (especially `secret_key`) This is an issue because the values are exposed via the `/api/system/cluster_config` endpoint. (the config is stored in the "cluster_config" collection) Since the cluster config endpoint doesn't know how to handle specific values, we cannot mask the secret like we do in other e

[2020-05-12 11:34] #356 closed

[2020-05-14 20:10] estein9825 opened #365 "How to connect kinesis when using SSL"
I attempted to connect to kinesis and I get the notification:

[code]

HTTPS works in general for my application when communicating with MongoDB and the like. Is there some other cert I need to import for kinesis to work?

[2020-05-18 09:07] florianpopp commented on #365
We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [discussion forum](https://community.graylog.org/) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

Thank you!

[2020-05-18 09:07] #365 closed

[2020-05-21 13:33] dxrpl opened #370 "Missing AWS regions"
HI there,

Is there any way to configure more regions? I need eu-north-1 at the moment but the list is going to grow since my application will run in at least three regions.

![Screenshot from 2020-05-21 15-28-41](https://user-images.githubusercontent.com/50060205/82564056-66206000-9b78-11ea-934e-e3e86924b587.png)

[2020-05-22 12:09] dennisoelkers opened #372 "Unable to remove default secret key in System->Configuration"
As a user I want to remove my default secret key configured in `System` -> `Configuration`. This is not possible at the moment, because when removing the secret key by leaving the input field blank, it will be reset to the previous value.

[2020-05-23 08:44] radykal-com commented on #370
Hi,

What version of graylog are you running? I can see eu-north-1 in graylog 3.2.4
<img width="584" alt="Captura de pantalla 2020-05-23 a las 10 44 02" src="https://user-images.githubusercontent.com/2077281/82726124-62a8e800-9ce2-11ea-9e3b-2dc5e482398f.png">

[2020-05-23 15:21] dxrpl commented on #370
I use 3.2 so this is probably the case. I'll upgrade to 3.3 and post back what happen.

[2020-05-23 17:12] dxrpl commented on #370
OK now I see how much I'm out of reality.
I run Graylog via docker-compose and I need a few more plugins.
I just found this plugin in Graylog Marketplace https://marketplace.graylog.org/addons/3f132fab-50f0-4c88-b63d-9ac99aa6c20e

It's outdated quite a bit but without further reading I downloaded jar with version 2.4.5 and gone forward.

Next I mounted graylog/plugin in my local filesystem. That's

[2020-05-23 17:12] #370 closed

[2020-06-12 11:29] pdcemulator opened #384 "CloudTrial Input: sort elements in region list"
Hi,

please sort the elements in the lists for AWS S3 and SQS region selection to make it more user friendly.

Thank you

[2020-07-14 13:09] danotorrey commented on #86
The new AWS Kinesis/Cloud Watch integration should solve this. It supports Kinesis streams that contain data that originated from sources other than Cloud Watch (as long as the Kinesis message payload is in encoded text with new line delimiters).

Please see these references for more info:
https://docs.graylog.org/en/3.3/pages/integrations/inputs/aws_kinesis_cloudwatch_input.html
https://www.youtu

[2020-07-14 13:09] #86 closed

[2020-07-14 13:12] danotorrey commented on #102
@ion9

The new AWS Kinesis/Cloud Watch integration should solve this error. It also supports Kinesis streams that contain data that originated from sources other than Cloud Watch (as long as the Kinesis message payload is in encoded text with new line delimiters).

Please let us know if you still have any trouble using it.

Please see these references for more info:
https://docs.graylog.org/en/3.3

[2020-07-14 13:12] #102 closed

[2022-10-27 18:08] damianharouff opened #666 "Improved handling of unnecessary Cloudtrail messages"
While setting up the Cloudtrail input, customer noted the following ERROR in their server.log:

`2022-10-27T13:27:38.655-04:00 ERROR [CloudtrailSNSNotificationParser] Parsing exception.
com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'CloudTrail': was expecting ('true', 'false' or 'null')
 at [Source: (String)"CloudTrail validation message."; line: 1, column: 11]
        at com.f

[2022-11-07 13:56] AntonEbel opened #667 "JsonMappingException on missing userIdentity in CloudTrailRecord"
In HS-1155337333 a customer has problems because the `userIdentity` field is missing when deserializing the `CloudTrailRecord`. A `NullPointerException` occurs when constructing the `construcedMessage` [field](https://github.com/Graylog2/graylog-plugin-aws/blob/740d47c50badd0659a364d04d790d7465e2ea9af/src/main/java/org/graylog/aws/inputs/cloudtrail/json/CloudTrailRecord.java#L113). Here is the Sta